html {
  font-size: 10px;
  background-size: cover;
}

body, html {
background-color: black;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.cell {
  border: .1rem solid black;
  border-radius: .15rem;
  margin: 0.25rem;
  padding: .25rem .125rem;
  transition: all .07s ease;
  width: 15rem;
  text-align: center;
  text-shadow: 0 0 .5rem black;
  display: inline-block;
  min-height: 3rem;
  font-size: 2rem;
  color: white;
}

.playing {
  transform: scale(1.1);
  border-color: #ffc600;
  box-shadow: 0 0 .25rem #ffc600;
}

label {
  font-size: 2rem;
  min-height: 3rem;
}

select {
  font-size: 1.75rem;
  margin-left: .75rem;
}

.board {
  justify-content: center;
}

.chord {
  display: flex;
  flex: 1;
  min-height: 1vh;
  align-items: center;
  justify-content: center;
}

.chord:nth-child(1) .key { background: red; }
.chord:nth-child(2) .key { background: orange; }
.chord:nth-child(3) .key { background: yellow; }
.chord:nth-child(4) .key { background: green; }
.chord:nth-child(5) .key { background: blue; }
.chord:nth-child(6) .key { background: indigo; }
.chord:nth-child(7) .key { background: violet; }